@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@font-face{
    font-family: "monoton-regular";
    src: url("fonts/Monoton-Regular.ttf");
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    background: rgb(20, 145, 177);
}

.container{
    min-height: 100vh;
    display: flex;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content{
    text-align: center;
    background: rgb(255, 255, 255);
    width: 550px;
    height: 250px;
    border-radius: 5px;
}

.container .content h3{
    font-size: 30px;
    color: #333;
    margin-top: 10px;
}

.container .content h3 span{
    background-color: rgb(20, 145, 177);
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h1{
    font-size: 50px;
    color: rgb(214, 195, 195);
}

.container .content h1 span{
    color: crimson;
}

.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content p span{
    color: crimson;
}

.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: rgb(20, 145, 177);
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.container .content .btn:hover{
    background: rgb(214, 195, 195);
}

.form-container{
    min-height: 100vh;
    display: flex;
    position: inline-block;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #fff;
    text-align: center;
    width: 800px;
    margin-left: 10px;
}

.form-container form h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #1925d4;
}

.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option{
    background: #fff;
}

.form-container form .form-btn{
    background:  rgb(20, 145, 177);
    color: #eee;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5%;
}

.form-container form .form-btn:hover{
    background: rgb(214, 195, 195);
    color: #fff;
}

.form-container form a{
    color: rgb(20, 145, 177);
}

.form-container form a:hover{
    color: rgb(214, 195, 195);
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    float: left;
}

.form-container form p span{
    color: red;
}

.left{
    float: left;
}

.right{
    float: right;
}

.form-container form img{
    margin-bottom: 7%;
    width: 250px;
    height: 200px;
    filter: drop-shadow(30px 10px 4px #515157);
}

.form-container form i{
    color: #1925d4;
    font-size: 40px;
    text-align: center;
}

form .form-btn2{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    width: 115px;
    height: 40px;
    background:  #fff;
    color: rgb(20, 145, 177);
    font-size: 13px;
    cursor: pointer;
    border-radius: 5%;
}

form .form-btn2:hover{
    scale: 1.1;
    transition: 0.9s;
}

.inline-fields {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Optionnel : Ajoute un espace entre les éléments */
}

.inline-fields select {
    width: 15%; /* Vous pouvez ajuster la largeur pour vos besoins */
}

/*input:invalid, select:invalid{
    border: red 3px solid;
}
*/

.côte_à_côte {
    display: flex;
    justify-content: space-between; /* Permet de séparer les éléments de manière égale */
    gap: 20px; /* Espacement entre les deux éléments */
}

.éléments {
    flex: 1; /* Chaque élément prendra la même largeur */
}

.côte_à_côte .éléments input {
    width: 100%; /* Les champs de saisie prendront toute la largeur de leur parent */
    padding: 8px;
    margin-top: 5px;
}

.autre li{
    list-style-type: none;
}